.FIE_crop-presets-menu > div:nth-child(1),
.FIE_crop-presets-menu > div:nth-child(2),
.FIE_crop-presets-menu > div:nth-child(3),
.FIE_crop-presets-menu > div:nth-child(4),
.FIE_crop-presets-menu > div:nth-child(5) {
  display: none;
}

.FIE_topbar-save-wrapper {
  width: unset!important;
}

#SfxPopper *, .FIE_root * {
  font-family: unset!important;
}